<%- include('./layout/header') %>
    <%- include('./components/navbar') %>
        <main>
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <%- include('./sliders/slider-1') %>
                    <%- include('./sliders/slider-2') %>
                </div>
            </div>
        </main>
        <%- include('./layout/footer') %>
