.bg-light.body--review.py-5
    .container-fluid
        .d-block.body--header
            .d-md-inline-block.d-block.p-3.body--title 
                |Frequently Asked Questions
        ul#faqlist.d-block.w-100.nolist
            li#faq-header-1
                a.d-block.text-white.bg-dark.p-3.border-bottom.border-muted( 
                data-toggle='collapse',
                data-target='#faq-1',
                aria-expanded='true',
                aria-controls='faq-1')
                    |1, How quickly will I get my code right now if I pay now?
                #faq-1.bg-white.p-3.collapse.show(aria-labelledby='faq-header-1',data-parent='#faqlist')
                    |- Delivery: You will receive your item IMMEDIATELY.
                    |- *Sometime delay with in 1 -> 2 hours.
                    |**Please Contact Us, if you want to ask something!
            li#faq-header-2
                a.d-block.text-white.bg-dark.p-3.border-bottom.border-muted( 
                data-toggle='collapse',
                data-target='#faq-2',
                aria-expanded='true',
                aria-controls='faq-2')
                    |2, How quickly will I get my code right now if I pay now?
                #faq-2.bg-white.p-3.collapse(aria-labelledby='faq-header-2',data-parent='#faqlist')
                    |- Delivery: You will receive your item IMMEDIATELY.
                    |- *Sometime delay with in 1 -> 2 hours.
                    |**Please Contact Us, if you want to ask something!
            li#faq-header-3
                a.d-block.text-white.bg-dark.p-3.border-bottom.border-muted( 
                data-toggle='collapse',
                data-target='#faq-3',
                aria-expanded='true',
                aria-controls='faq-3')
                    |3, How quickly will I get my code right now if I pay now?
                #faq-3.bg-white.p-3.collapse(aria-labelledby='faq-header-3',data-parent='#faqlist')
                    |- Delivery: You will receive your item IMMEDIATELY.
                    |- *Sometime delay with in 1 -> 2 hours.
                    |**Please Contact Us, if you want to ask something!
            li#faq-header-4
                a.d-block.text-white.bg-dark.p-3.border-bottom.border-muted( 
                data-toggle='collapse',
                data-target='#faq-4',
                aria-expanded='true',
                aria-controls='faq-4')
                    |4, How quickly will I get my code right now if I pay now?
                #faq-4.bg-white.p-3.collapse(aria-labelledby='faq-header-4',data-parent='#faqlist')
                    |- Delivery: You will receive your item IMMEDIATELY.
                    |- *Sometime delay with in 1 -> 2 hours.
                    |**Please Contact Us, if you want to ask something!
            li#faq-header-5
                a.d-block.text-white.bg-dark.p-3.border-bottom.border-muted(
                data-toggle='collapse',
                data-target='#faq-5',
                aria-expanded='true',
                aria-controls='faq-5')
                    |5, How quickly will I get my code right now if I pay now?
                #faq-5.bg-white.p-3.collapse(aria-labelledby='faq-header-2',data-parent='#faqlist')
                    |- Delivery: You will receive your item IMMEDIATELY.
                    |- *Sometime delay with in 1 -> 2 hours.
                    |**Please Contact Us, if you want to ask something!

